@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

*
{
	margin-top: 10px;
}
body {
	font-family: "Lexend", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #393232;
}

img {
	object-fit:contain;
	max-width: 100%;
	display: block;
}

.card-list {
	width: 90%;
	max-width: 400px;
}

.card {
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;
	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
			transform: translatey(-5px);
	}
}

.card-image {
	border-radius: 10px;
	overflow: hidden;
}

.card-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 1.25;
		padding-right: 1rem;
		text-decoration: none;
		color: inherit;
		will-change: transform;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
	
	
}

.icon-button {
	border: 0;
	background-color: #fff;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	transition: .25s ease;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
	z-index: 1;
	cursor: pointer;
	color: #565656;
	
	svg {
		width: 1em;
		height: 1em;
	}
	&:hover, &:focus {
		background-color: #EC4646;
		color: #FFF;
	}
}

.card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.25rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-meta {	
	display: flex;
	align-items: center;
	color: #787878;
	&:first-child:after {
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: currentcolor;
		margin-left: .75rem;
		margin-right: .75rem;
	}
	svg {
		flex-shrink: 0;
		width: 1em;
		height: 1em;
		margin-right: .25em;
	}
}

.container
{
    width: 100%;
    height: 100%;
    background-color: #393232;
    align-items: center;
    position: relative;;
}


a{
	text-decoration: none;
  }
  
  .instagram-card{
	  background: #ffffff;
	  border: 1px solid #f2f2f2;
	  border-radius: 3px;
	  width: 100%;
	  max-width: 600px;
	  margin: auto;
	  margin-bottom: 40px;
  }
  
  .instagram-card-header{
	  padding: 20px;
	  height: 80px;
  }
  
  .instagram-card-user-image{
	  border-radius: 50%;
	  width: 40px;
	  height: 40px;
	  vertical-align: middle;
  }
  
  .instagram-card-time{
	  width: 200px;
	  padding-top:10px;
	  text-align: right;
	  color: #999;
	  float: right;
  }
  
  .instagram-card-user-name{
	//   margin-left:20px;
	  font-weight:bold;
	color: #262626;
  }
  
  .instagram-card-content{
	padding: 20px;
  }
  
  .likes{
	font-weight: bold;
	background-color: white;
	border: none;
  }
  
  .instagram-card-content-user{
	font-weight: bold;
	color: #262626;
  }
  
  .hashtag{
	color: #003569;
  }
  
  .comments{
	color:#999;
  }
  
  .user-comment{
	color: #003569;
  }
  
  .instagram-card-footer{
	padding: 20px;
	display: flex;
	align-items: center;
  }
  
  hr{
	border: none;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 0px;
   
  }
  
  
  .footer-action-icons{
	font-size: 16px;
	color: #ccc;
  }
  
  .comments-input{
	border: none;
	margin-left: 10px;
	width: 100%;
  }
  
  .likes-label
  {
	background-color: white;
	border: none;
  }
  
  .discription
  {
	width: fit-content;
	height: fit-content;
	margin-top: 27px;
	padding-left: 10px;
  }